mixin project(project)
    div.project-mixin.project-mixin__hover(style=`background-image:url(${project.imgUrl});`)
        div.preDescription
        div.modal_wrap
            div.project__date=project.date 
            div.project__title=project.title 
            div.project__desc=project.description 
            div.project__skills
                each skill in project.skills
                    div.project__skill=skill
            div.project__links
                if project.githubUrl
                    a.project__github(href=`${project.githubUrl}` target="_blank")
                        i.fab.fa-github.fa-lg   Go to Github &rarr;
                if project.websiteUrl
                    a.project__web(href=`${project.websiteUrl}` target="_blank") Go to Website &rarr;


